{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Home {% endblock %}</h1>
    <div class="list">
      <p class="list_elem">Lb 1: Solving systems of linear equations</p>
      <p class="list_elem">Lb 2: Plotting</p>
      <p class="list_elem">Lb3: Numerical integration</p>
      <p class="list_elem">Lb 4: Solving ordinary differential equations</p>
      <p class="list_elem">Lb5: Root finding</p>
      <p class="list_elem">Lb 6: Linear Regression Models</p>
      <p class="list_elem">Lb 7: Tree Regressors</p>
      <p class="list_elem">Lb 8: SARIMA models</p>
      <p class="list_elem">Lb 9: scikit-learn classifiers in recognizing hand-written digits</p>
    </div>
{% endblock %}